.top-section {
  color: white;
}

.top-section-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.city-container {
  flex: 1.1;
}

.city-flex {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.city-img {
  filter: brightness(70%);
  height: 30%;
  margin-bottom: 40%;
  width: 30%;
}

.city-time-flex {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.city-dropdown {
  background-color: grey;
  color: white;
  font-family: roboto !important;
  font-size: 180%;
  padding: 10px;
  text-align: center;
  width: 85%;
}

.date-time {
  margin-top: 5%;
}

.city-time {
  color: yellow;
  display: inline;
}

.session-img {
  height: 40%;
  width: 30%;
}

.temp-container {
  flex: 1;
}

.temp-grid-container {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  justify-items: center;
  margin-bottom: 5%;
}

.temp-value-container {
  padding: 2%;
  text-align: center;
}

.temperature-value {
  font-weight: 900;
}

.temperature-type {
  font-family: roboto;
  font-size: 130%;
  font-weight: 10;
}

.vertical-line {
  background-color: white;
  border: 1px solid #ccc;
  height: 70%;
  margin-top: 20px;
  width: 1%;
}

.time-container {
  flex: 2.5;
}

.time-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-items {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.seperator-line {
  background-color: white;
  height: 1.5em;
  margin: auto;
  margin-bottom: 10px;
  width: 1px;
}

.time-line-img {
  height: 50%;
  width: 70%;
}

.bottom-numbers {
  margin-top: 10px;
}

.center-line {
  background-color: white;
  height: 1.5em;
  margin: auto;
  margin-bottom: 40px;
  width: 1px;
}

/*Media Queries for top section*/
@media all and (max-width: 1180px) {
  .city-dropdown {
    font-size: 20px;
  }
}

@media all and (max-width: 980px) {
  .bottom-numbers,
  .city-dropdown,
  .flex-items > p {
    font-size: 15px;
  }

  .temperature-value {
    font-size: 140%;
  }

  .center-line {
    margin-bottom: 30px;
  }

  .temperature-type {
    font-size: 100%;
    font-weight: 10;
  }
}

@media all and (max-width: 860px) {
  .bottom-numbers {
    margin-left: 0;
  }

  .city-time,
  .city-date {
    font-size: 20px;
  }

  .vertical-line {
    margin-top: 10px;
  }
}

@media all and (max-width: 830px) {
  .bottom-numbers {
    margin-left: 1%;
    margin-top: 0;
  }

  .temperature-value {
    font-size: 120%;
  }

  .temperature-type {
    font-weight: 10;
  }

  .city-dropdown {
    font-size: 12px;
    padding: 2px;
    text-align: center;
    width: 90%;
  }

  .flex-items > p,
  .vertical-line,
  .temperature-type {
    font-size: 10px;
  }

  .city-time {
    font-size: 17px;
  }

  .city-time-flex {
    margin-top: 20%;
  }

  .city-date {
    font-size: 15px;
  }

  .session-img {
    height: 40%;
    width: 25%;
  }

  .time-flex {
    padding: 0%;
  }
}

@media all and (max-width: 780px) {
  .center-line {
    height: 1em;
    margin-bottom: 27px;
  }

  .seperator-line {
    height: 1em;
  }
}

@media all and (max-width: 644px) {
  .date-time {
    margin-top: 15px;
  }

  .temperature-value {
    font-size: 17px;
  }
}
